<h1><%= @user.username %></h1>

<p>
  <strong>Name:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Total Cash Blown on Boat Projects:</strong>
  <%= number_to_currency(@user.projects.sum('budget')) %>
</p>

<h2>Followers</h2>

<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>

<h2>Follow or Unfollow</h2>


<h2>Boats</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Added to Yawlr</th>
      <th>Budget</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.boats.each do |boat| %>
      <tr>
        <td><%= link_to boat.name, boat %></td>
        <td><%= boat.created_at %></td>
        <td><%= number_to_currency(boat.projects.sum('budget')) %></td>
        <td><%= link_to 'Show', boat %></td>
        <td><%= link_to 'Edit', edit_boat_path(boat) %></td>
        <td><%= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>