<%= form_for([@boat, @boat.projects.build]) do |f| %>
<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :budget %><br />
    <%= f.number_field :budget %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.select(:status,[['In Progress', 1], ['Completed', 2], ['Abandonded', 3]]) %>
  </p>
  <p>
    <%= f.submit "Create New Project for #{@boat.name}" %>
  </p>
<% end %>