<%= form_for([@boat, @boat.projects.build]) do |f| %>
<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :budget %><br />
    <%= f.number_field :budget %>
  </p>
  <div class="large-4 columns">
    <%= f.label :status %><br />
    <%= f.select(:status, [['In Progress'], ['Completed'], ['Abandonded']], class: "medium") %>
  </div>
  <p>
    <%= f.submit "Create New Project for #{@boat.name}", class: "large button" %>
  </p>
<% end %>