<% provide(:title, "#{@project.name} for #{@boat.name}") %>
<h1><%= "#{@boat.name} | #{@project.name} Project" %></h1>


<h2>Project Details</h2>
<p><%= @boat.name %></p>
<p><%= @project.name %></p>
<p><%= @project.description %></p>
<p><%= @project.status %></p>
<p><%= number_to_currency(@project.budget) %></p>


<p> <%= link_to "Edit this project", edit_boat_project_path(@project.boat, @project) %>