<% provide(:title, "#{@boat.name} Profile") %>
<p>Added to YAWLr by <%= link_to(@boat.user.username, @boat.user) %> on <%= @boat.created_at %>
</p>

<h2>About <%= @boat.name %></h2>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @boat.user.username %>
</p>

<p>
  <strong>Total Projects:</strong>
  <%= @boat.projects.count %>
</p>

<p>
  <strong>Total Cost of Projects:</strong>
  <%= number_to_currency(@boat.projects.sum('budget')) %>
</p>

<%= link_to "View All Boats", root_url, remote: true %>

<h2>Maintence Log</h2>

<%= will_paginate @projects %>

<table class="table">
	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Budget</th>
		<th>Status</th>
	</thead>

	<tbody>
		<% @projects.each do |p| %>
		<% if p.status == "Completed" %>
		<tr class="success">
		<% else %>
		<% if p.status == "In Progress" %>
		<tr class="info">
		<% else %>
		<tr class="error">
		<% end %>
		<% end %>
			<td><%= link_to "Manage #{p.name} Project", [p.boat, p] %></td>
			<td><%= p.description %></td>
			<td><%= number_to_currency(p.budget) %></td>
			<td><%= p.status %></td>
		</tr>
		<% end %>
	</tbody>

</table>

<%= will_paginate @projects %>

<h2>Add Project</h2>

<%= link_to "New Project", "#myModal", role: "button", class: "btn", 'data-toggle' => "modal" %>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add New Project</h3>
  	</div>
  		<div class="modal-body">

  				<%= render 'shared/projects' %>
    
  		</div>



</div>


<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
