<p id="notice"><%= notice %></p>

<p>Added to YAWLr by <%= link_to(@boat.user.username, @boat.user) %> on <%= @boat.created_at %>
</p>

<h2>About</h2>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @boat.user.username %>
</p>

<h2>Maintence Log</h2>

<% @boat.projects.each do |p| %>
<p><%= p.name %><br />
   <%= p.description %><br />
   <%= p.budget %><br />
   <%= link_to "Manage #{p.name} Project", [p.boat, p] %><br />
</p>
<% end %>

<h2>Add New Project</h2>



<%= render 'shared/projects' %>




<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
