<nav>
<%= link_to "YAWLr", root_path %> |
<%= link_to "About", about_path %> |
<%= link_to "Support", support_path %> | 
<% if user_signed_in? %>
-- Howdy, <strong><%= current_user.username %></strong>
<%= link_to "My Profile", current_user %> |
<% if current_user.boats.any? %>
<% current_user.boats.each do |boat| %>
<%= link_to "Manage #{boat.name}", boat %> |
<% end %>
<% else %>
<%= link_to "Create a Boat", new_boat_path %> |
<% end %>
<%= link_to "Edit Profile", edit_user_registration_path %> |
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Join YAWLr", new_user_registration_path %> |
<%= link_to "Sign In", new_user_session_path %>
<% end %>
</nav>